@import './../functions/functions';

.button {
    width: 100%;
    height: toRem(40);
    border-radius: 12px;

    transition: background-color ease-in 0.2s;

    @include screen(tablet) {
        height: toRem(30);
        border-radius: 8px;
    }
}

.order-button {
    background: var(--secondary-accent-color);
    color: var(--white-color);

    @include hover-supported () {
        &:hover {
            background: var(--main-accent-color);
        }
    }
    

    &:active {
        background: var(--button-pressed);
    }

    &[disabled] {
        background: var(--grey-color);
        color: #ACACAC;
    }
}

.add-button {
    background: var(--grey-color);
    color: var(--black-color);

    @include hover-supported () {
        &:hover {
            background: var(--main-accent-color);
            color: var(--white-color);
        }
    } 

    &:active {
        background: var(--button-pressed);
    }

    &[disabled] {
        background: var(--main-bg-color);
        color: #ACACAC;
    }
}

.delivery-button {
    position: absolute;
    bottom: 0;
}

.product-info_add-button {
    background-color: var(--secondary-accent-color);
    color: var(--white-color);
}