:root {
    --main-bg-color: #F9F9F9;
    --grey-color: #F2F2F3;
    --main-accent-color: #FFAB08;
    --secondary-accent-color: #FF7020;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --button-pressed: #F86310;
}