@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');
@import './components/vars/vars';
@import './components/functions/functions';

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

body {
	-webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
  font-size: clamp(10px, 1rem, 20px); 
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: left;
  color: var(--black-color);
  margin: 0;
  
  background: var(--main-bg-color);

  @include screen(tablet) {
      font-size: 0.75rem;
  }   
}

h1 {
  font-size: toRem(50);
  font-weight: 800;
  line-height: 1.2;

  @include screen (tablet) {
      font-size: toRem(36);
  }

  @include screen (mobile) {
      font-size: toRem(30);
  }
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;

  @include screen(tablet) {
      font-size: toRem(28);
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: 0em;
  text-align: left;

  @include screen(tablet) {
      font-size: toRem(16);
  }
}

h4 {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: left;
}


li {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: left;

  @include screen(tablet) {
      font-size: toRem(10);
  }
}

.container {
  max-width: 1330px;
  box-sizing: border-box;

  margin: 0 auto;
  padding: 0 20px;

  @include screen (tablet) {
      max-width: 660px;
      padding: 0 10px;
  }

  @include screen (mobile) {
      // max-width: 320px;
  }
}

.none {
  display: none !important;
}

.spacer {
  min-height: 29px;
  max-height: 500px;

  @include screen (tablet) {
      min-height: 16px;
  }
}

.modal-active {
  overflow-y: hidden;
}